<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.Access.LoginServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>HomeServlet</display-name>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.Access.HomeServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LogoutServlet</display-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.Access.LogoutServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Add_Student_Servlet</display-name>
        <servlet-name>Add_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Add_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Student_Servlet</servlet-name>
        <url-pattern>/Add_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Show_Student_Delete</display-name>
        <servlet-name>Show_Student_Delete</servlet-name>
        <servlet-class>Servlet.Student.Show_Student_Delete</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Show_Student_Delete</servlet-name>
        <url-pattern>/Show_Student_Delete</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Delete_Student_Servlet</display-name>
        <servlet-name>Delete_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Delete_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete_Student_Servlet</servlet-name>
        <url-pattern>/Delete_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Show_Student_Update</display-name>
        <servlet-name>Show_Student_Update</servlet-name>
        <servlet-class>Servlet.Student.Show_Student_Update</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Show_Student_Update</servlet-name>
        <url-pattern>/Show_Student_Update</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Update_Student_Servlet</display-name>
        <servlet-name>Update_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Update_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update_Student_Servlet</servlet-name>
        <url-pattern>/Update_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Statistics_Student_Servlet</display-name>
        <servlet-name>Statistics_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Statistics_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Statistics_Student_Servlet</servlet-name>
        <url-pattern>/Statistics_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>List_Student_Servlet</display-name>
        <servlet-name>List_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.List_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>List_Student_Servlet</servlet-name>
        <url-pattern>/List_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Search_Student_Servlet</display-name>
        <servlet-name>Search_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Search_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search_Student_Servlet</servlet-name>
        <url-pattern>/Search_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Mark_Student_Servlet</display-name>
        <servlet-name>Mark_Student_Servlet</servlet-name>
        <servlet-class>Servlet.Student.Mark_Student_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Mark_Student_Servlet</servlet-name>
        <url-pattern>/Mark_Student_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Add_Course_Servlet</display-name>
        <servlet-name>Add_Course_Servlet</servlet-name>
        <servlet-class>Servlet.Course.Add_Course_Servlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add_Course_Servlet</servlet-name>
        <url-pattern>/Add_Course_Servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>Show_Course_Delete</display-name>
        <servlet-name>Show_Course_Delete</servlet-name>
        <servlet-class>Servlet.Course.Show_Course_Delete</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Show_Course_Delete</servlet-name>
        <url-pattern>/Show_Course_Delete</url-pattern>
    </servlet-mapping>
</web-app>
